[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Enlightenment (Wayland)
Name[ca]=Enlightenment (Wayland)
Name[de]=Enlightenment (Wayland)
Name[el]=Enlightenment (Wayland)
Name[eo]=Enlightenment (Wayland)
Name[fi]=Enlightenment (Wayland)
Name[fr]=Enlightenment (Wayland)
Name[gl]=Enlightenment (Wayland)
Name[ja]=Enlightenment (Wayland)
Name[ko]=Enlightenment (Wayland)
Name[ms]=Enlightenment (Wayland)
Name[pl]=Enlightenment (Wayland)
Name[ru]=Enlightenment (Wayland)
Name[sr]=Просвећење (Wayland)
Name[tr]=Enlightenment (Wayland)
Comment=Log in using Enlightenment (Version 0.21.7)
Comment[ca]=Iniciar sessió amb Enlightenment (Versió 0.21.7)
Comment[de]=Anmelden und Enlightenment verwenden (Version 0.21.7)
Comment[el]=Είσοδος με το Enlightenment (Έκδοση 0.21.7)
Comment[eo]=Ensaluti pere de Enlightenment (Versio 0.21.7)
Comment[es]=Iniciar sesión usando Enlightenment (Versión 0.21.7)
Comment[fi]=Kirjaudu käyttäen Enlightenmentiä (versio 0.21.7)
Comment[fr]=Ouvrir une session Enlightenment (Version 0.21.7)
Comment[gl]=Iniciar sesión usando Enlightenment (Versión 0.21.7)
Comment[it]=Accedi con Enlightenment (Versione 0.21.7)
Comment[ko]=Enlightenment 로그인(버전 0.21.7)
Comment[ms]=Daftar masuk menggunakan Enligtenment (Versi 0.21.7)
Comment[pt]=Iniciar sessão no Enlightenment (Versão 0.21.7)
Comment[ru]=Войти используя Enlightenment (Версия 0.21.7)
Comment[sr]=Пријавите се за коришћење Просвећења (издања 0.21.7)
Comment[tr]=Enlightenment kullanarak giriş yaın (Version 0.21.7)
Icon=/usr/share/enlightenment/data/images/enlightenment.png
TryExec=/usr/bin/enlightenment_start
Exec=/usr/bin/enlightenment_start
